
@font-face {
    font-family: "plin";
    src: url(../fonts/riesling.ttf);
    font-size: 90px;
}
.menu {
    background-image: url(../img/kee6a429af860c91ed307ca581707c21b6c.gif);
    background-size: 35%;
}

h1{
    font-family: "plin";
    src: url(../fonts/riesling.ttf);
    font-size: 300px;
}

footer {
    background-image: url(../img/ouro-rosa.jpg);
}

@font-face {
    font-family: "qualquer";
    src: url(../fonts/Bellerose.ttf);
}

.list-group-item {
    background: transparent;
    font-family: "qualquer";
}

ul a {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.caixa .card {
    background-color: transparent;
}
header {
    background-image: url(../img/ouro-rosa.jpg);
}
